$clr-primary: hsl(257, 40%, 49%);
$clr-secondary: hsl(300, 69%, 71%);

// ******************

$ff-primary: 'Open Sans', sans-serif;
$ff-secondary: 'Poppins', sans-serif;

$ff-headings: $ff-secondary;
$ff-body: $ff-primary;

// ******************

$fw-regular: 400;
$fw-semi-bold: 600;

$fw-headings-regular: $fw-regular;
$fw-headings-semi-bold: $fw-semi-bold;
$fw-body-regular: $fw-regular;

// ******************